.sectionBanner {
  height: 100vh;
  background: url("../../../assets/images/HomePageBg.webp") no-repeat right top -170px;
  .title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    color: #363130;
    padding-top: 72px;
    margin-bottom: 11px;
  }
  .description {
    max-width: 463px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 86px;
  }
  .formBox {
    width: 775px;
    height: 289px;
    padding: 30px 39px 47px 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    .formBoxTitle {
      font-family: 'Montserrat';
      font-weight: 900;
      font-size: 25px;
      line-height: 30px;
      color: #319F1C;
      margin-bottom: 21px;
    }
    .formBoxDescription {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 25px;
    }
    .form {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 13px;
      margin-bottom: 10px;
      .formItem {
        max-width: 334px;
        width: 100%;
        padding: 10px 30px 11px 34px;
        border: 1px solid #319F1C;
        border-radius: 3px;
        :focus {
          color: red;
        }
      }
      .formBtn {
        display: inline-block;
        max-width: 333px;
        width: 100%;
        padding: 10px 0;
        background: #319F1C;
        border-radius: 3px;
        color: #FFF;
      }
    }
    .personalData {
      text-align: right;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
      margin-right: 41px;
    }
  }
}