.appWrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
}

button {
    background: transparent;
    cursor: pointer;
}