footer {
  position: relative;
  background: #363130;
  padding: 50px 0;
  z-index: 1;
  .footerWrapper {
    display: flex;
    justify-content: space-between;
    .logoAndCall {
      .btnBox {
        max-width: 238px;
        margin-top: 52px;
        .footerBtn {
          display: block;
          width: 100%;
          color: #FFF;
          padding: 22px 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          border: 2px solid #FFFFFF;
          border-radius: 6px;
        }
      }
    }
    .menuBox {
      display: flex;
      gap: 200px;
      .footerMenu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .menuItem {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
        }
      }
    }
    .footerInfo {
      display: flex;
      flex-direction: column;
      max-width: 237px;
      width: 100%;
      .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
      }
      .socialBox {
        display: flex;
        gap: 20px;
        margin: 14px 34px;
        .socialItem {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .footerLogo {
        margin-top: 7px;
      }
    }
  }
}